# Trabajando con tipos de datos en Python




## Objetivos


* Trabajar con varios tipos de datos en Python.
* Convertir los datos de un tipo a otro.

## Tipos de objetos en Python

<p>Python es un lenguaje orientado a objetos. Hay muchos tipos diferentes de objetos en Python. Vamos a empezar con los tipos de objetos más comunes: <i>strings</i>, <i>integers</i> y <i>floats</i>. Cada vez que escribes palabras (texto) en Python, estás utilizando <i>character strings</i> (strings para abreviar). Por otra parte, los números más comunes son <i>integers</i> (p.e. -1, 0, 100) y <i>floats</i>, que representan números reales (p.e. 3.14, -42.0).</p>

<a align="center">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%201/images/TypesObjects.png" width="600">
</a>

<p>Las siguientes celdas de código contienen algunos ejemplos.</p>

<p>Puedes hacer que Python te indique el tipo de una expresión utilizando la función incorporada <code>type()</code>. Observarás que Python se refiere a los números enteros como <code>int</code>, floats como <code>float</code>, y character strings como <code>str</code>.</p>

<p>En la celda de abajo, usa la función <code>type()</code> para verificar el tipo de <code>12.0</code>.

### Integers

<p>Aquí hay algunos ejemplos de números enteros. Los números enteros pueden ser negativos o positivos:</p>

<a align="center">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%201/images/TypesInt.png" width="600">
</a>

### Floats

<p>Los números flotantes representan números reales; son un superconjunto de los números enteros, pero también incluyen «números con decimales». Existen algunas limitaciones cuando se trata de máquinas que representan números reales, pero los números en coma flotante son una buena representación en la mayoría de los casos. Puedes obtener más información sobre las especificidades de los flotantes para su entorno de ejecución, comprobando el valor de <code>sys.float_info</code>. esto también te dirá cuál es el mayor y el menor número que se puede representar con ellos.</p>

<p>Veamos algunos ejemplos utilizando la función <code>type()</code>:

### Strings

### Booleanos

<p>Podemos convertir objetos booleanos en otros tipos de datos. Si convertimos un booleano con un valor de <code>True</code> a un entero o float obtendremos un número 1. Si convertimos un booleano con un valor de <code>False</code> a un entero o float obtendremos un número 0. De manera similar, si convertimos el número 1 a booleano, obtendremos <code>True</code>. Y si convertimos 0 a booleano obtendremos <code>False</code>.</p>

### Conversión de un tipo de objeto a otro distinto

<p>Puedes cambiar el tipo del objeto en Python; esto se llama typecasting. Por ejemplo, puedes convertir un objeto <i>integer</i> en uno <i>float</i> (p.e. 2 a 2.0).</p>
<p>Intentemoslo:</p>

#### Convertir integers a floats

<p>Cuando convertimos un entero en un flotante, en realidad no cambiamos el valor del número. Sin embargo, si convertimos un flotante en un entero, podemos perder información. Por ejemplo, si convertimos el flotante 1.1 en un entero, obtendremos 1 y perderemos la información decimal (es decir, 0.1)</p>

<h4>Convertir cadenas a números enteros o flotantes</h4>

<p>A veces, podemos tener una cadena que contiene un número en su interior. Si este es el caso, podemos convertir esa cadena que representa un número en un entero utilizando <code>int()</code>:</p>

<p>Pero si intentas hacerlo con una cadena que no coincide perfectamente con un número, obtendrás un error. Prueba lo siguiente:</p>

<p>También puedes convertir cadenas que contengan números de punto flotante en objetos <i>float</i></p>

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
    [Tip:] Ten en cuenta que las cadenas pueden representarse con comillas simples (<code>'1.2'</code>) o comillas dobles (<code>"1.2"</code>), pero no puedes combinarlas (p.e., <code>"1.2'</code>).
</div>
<hr/>

<h4>Convertir numeros a cadenas</h4>

<p>Si podemos convertir cadenas en números, es lógico suponer que podemos convertir números en cadenas, ¿no?</p>

<p>Y no hay ninguna razón por la que no podamos convertir los flotantes en cadenas también:</p>

### Ejercicio: Types

<p>Cuál es el tipo de datos del resultado de: <code>6 / 2</code>?</p>

<p>Cuál es el tipo de datos del resultado de: <code>6 // 2</code>? (Ten en cuenta el doble slash <code>//</code>.)</p>

Cuál es el tipo de datos del resultado de: <code>"Hello, World!"</code>

Cuál es el tipo de datos del resultado de: <code>"hello" == "world"</code>

Escribe el código para convertir el siguiente número que representa employeeid **"1001"** a un entero.

Escribe el código para convertir el siguiente número que representa un valor financiero **"1234.56"** en un número de punto flotante.

Escribe el código para convertir el siguiente número de teléfono **123-456-7890** en una cadena de texto.